# ================================
# General: OS Generated
# ================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================================
# General: Ide & Editor
# ================================
.idea
*.swp
*.swo
*~
.workspace

# ================================
# General: Temporary Files
# ================================
tmp
temp
*.tmp
*.temp

# ================================
# General: Misc
# ================================
*.tgz
*.tar.gz
*.zip
*.rar
*.7z

# ================================
# General: Dependencies
# ================================
node_modules
.npm
.npmignore

# ================================
# General: Runtim & Environment
# ================================
.env
.env.*
.env.*.*
.husky/_

# ================================
# General: Logs
# ================================
logs
*.log
lerna-debug.log*

# ================================
# General: Coverage & Testing
# ================================
coverage
.nyc_output
*.lcov
.jest
vitest-report.html

# ================================
# General: Build Tools
# ================================
.cache
.parcel-cache
.eslintcache
.stylelintcache
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd

# ================================
# General: Es Lint
# ================================
.eslintcache

# ================================
# General: Typescript Specific
# ================================
dist
bin
build
out
*.tsbuildinfo
*.js.map
*.d.ts.map

# ================================
# General: RepoTherapy
# ================================
.husky
.vscode
eslint.config.ts
bin
.repo-therapy

# ================================
# Package Manager: Yarn
# ================================
.yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
yarn-debug.log*
yarn-error.log*

# ================================
# Custom: Settings
# ================================


# ================================
# Custom: Not via setting
# ================================
types/_*
